<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Nerd Words" %></title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag "vendor/modernizr" %>
    <%= stylesheet_link_tag "application" %>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><%= link_to 'Nerd Words', root_path %></h1>
        </li>
      </ul>
      <section class="top-bar-section">
        <ul class="right">
          <% if user_signed_in? %>
            <li class="active sign-in"><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
          <% else %>
          <li class="active sign-in"><%= link_to 'Log In', new_user_session_path %></li>
            <li class="active"><%= link_to 'Sign Up', new_user_registration_path %></li>
          <% end %>
          <li class="has-dropdown">
            <a href="#">| | |</a>
            <ul class="dropdown">
              <li><a href="#">Profile</a></li>
              <li class="active"><a href="#">Help</a></li>
            </ul>
          </li>
        </ul>
        <ul class="left">
          <li><a>@</a></li>
        </ul>
      </section>
    </nav>


    <div class="global">
    <%= yield %>
    </div>
    <%= javascript_include_tag "application" %>
  </body>
</html>
